<plugin name='rest' version='0.3' grailsVersion='1.2.0 &gt; *'>
  <author>Andres Almiray</author>
  <authorEmail>aalmiray@users.sourceforge.net</authorEmail>
  <title>REST client facilities</title>
  <description>
Adds REST client capabilities to your Grails application.
</description>
  <documentation>http://grails.org/Rest+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>